PeopleService/PeopleHost/Service References/PeopleReference/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/PeopleServiceLib/PeopleService/?xsd=xsd0" namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/PeopleServiceLib/PeopleService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/PeopleServiceLib/PeopleService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PeopleServiceLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPeopleService_GetName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetName" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNameResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountry" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetListOfPeople_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfPeople" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetListOfPeople_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfPeopleResponse" />
  </wsdl:message>
  <wsdl:portType name="IPeopleService">
    <wsdl:operation name="GetName">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IPeopleService/GetName" message="tns:IPeopleService_GetName_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IPeopleService/GetNameResponse" message="tns:IPeopleService_GetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountry">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IPeopleService/GetCountry" message="tns:IPeopleService_GetCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IPeopleService/GetCountryResponse" message="tns:IPeopleService_GetCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IPeopleService/GetPerson" message="tns:IPeopleService_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IPeopleService/GetPersonResponse" message="tns:IPeopleService_GetPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListOfPeople">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IPeopleService/GetListOfPeople" message="tns:IPeopleService_GetListOfPeople_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IPeopleService/GetListOfPeopleResponse" message="tns:IPeopleService_GetListOfPeople_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>