ClientService/ClientService/Service References/PeopleReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PeopleServiceLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PeopleServiceLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Details">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Details" nillable="true" type="tns:Details" />
  <xs:complexType name="ArrayOfDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Details" nillable="true" type="tns:Details" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetails" nillable="true" type="tns:ArrayOfDetails" />
</xs:schema>